.image_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    height: 155px;
    margin: 0;
}

.image {
    margin-top: auto;
}

.image_container span {
    position: relative;
    left: 106px;
    bottom: 23px;
    font-family: Arial, sans-serif;
    color: #4285f4;
}

@media only screen and (max-width: 1365px) {
    .image_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 120px;
        margin: 0;
    }

    .image {
        margin-top: auto;
    }
}

@media only screen and (max-width: 1200px) {
    .image_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 120px;
        margin: 0;
    }

    .image {
        margin-top: auto;
    }
}

@media only screen and (max-width: 675px) {
    .image_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 120px;
        margin: 0;
    }

    .image {
        margin-top: auto;
    }
}